body {
    background: rgb(151, 240, 151);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: linear-gradient(white, rgb(163, 214, 163));
}

* {
    margin: 0px;
    padding: 5px;
}

.titre {
    text-align: center;
    font-size: bold;
}